# Symfony related
/app/bootstrap.php.cache

/app/cache/*
!app/cache/.gitkeep

/app/coverage/*
!app/coverage/.gitkeep

/app/config/parameters.yml

/app/logs/*
!app/logs/.gitkeep

/app/phpunit.xml

/web/bundles/

/web/app.php
/web/app_dev.php

# Composer
/vendor/


#IDE
*.idea/*

# Vagrant
/.vagrant/
