# Symfony related
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/web/bundles/

# Composer
/vendor/

# SaltStack
/salt/pillar/config.sls
/salt/salt/apache/files/apache.conf

#IDE
*.idea/*

# Vagrant
/.vagrant/