# Symfony related
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/coverage/*
!app/coverage/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/web/bundles/

# Composer
/vendor/


#IDE
*.idea/*

# Vagrant
/.vagrant/
