#-----------------------------------------------------------------------------------------------------------------------
#  Project
#-----------------------------------------------------------------------------------------------------------------------

project:
  env: dev
  root_path: /var/www

#-----------------------------------------------------------------------------------------------------------------------
#  Nginx
#-----------------------------------------------------------------------------------------------------------------------

nginx:
  access_log_file: /var/log/nginx/access.log
  error_log_file: /var/log/nginx/error.log

#-----------------------------------------------------------------------------------------------------------------------
#  MySQL
#-----------------------------------------------------------------------------------------------------------------------

mysql:
  user: user
  password: password
  database: database