#-----------------------------------------------------------------------------------------------------------------------
#  Project
#-----------------------------------------------------------------------------------------------------------------------

project:
  env: dev

#-----------------------------------------------------------------------------------------------------------------------
#  Apache2
#-----------------------------------------------------------------------------------------------------------------------

apache:
  access_log_file: /var/log/apache2/access.log
  error_log_file: /var/log/apache2/error.log

#-----------------------------------------------------------------------------------------------------------------------
#  MySQL
#-----------------------------------------------------------------------------------------------------------------------

mysql:
  user: user
  password: password
  database: database