<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symba</title>

    <style>
        img.logo {
            width: 250px;
            height: 250px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -125px 0 0 -125px;
        }
    </style>
</head>
<body>
    {% image "@AppBundle/Resources/public/images/logo.png" %}
        <img class="logo" src="{{ asset_url }}" alt="Logo" />
    {% endimage %}
</body>
</html>
