<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symba</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}"/>
</head>
<body>
    <img class="logo" src="{{ asset('bundles/app/images/logo.png') }}" alt="Logo" />
</body>
</html>
